/* Milligram overrides */
:root {
    /* The following are official CakePHP colors */
    --color-cakephp-red: #d33c43;
    --color-cakephp-gray: #404041;
    --color-cakephp-blue: #2f85ae;
    --color-cakephp-lightblue: #34bdd7;

    /* These are additional colors */
    --color-lightgray: #606c76;
    --color-white: #fff;

    --color-main-bg: #f5f7fa;
    --color-links: var(--color-cakephp-blue);
    --color-links-active: #2a6496;
    --color-headings: #363637;

    --color-message-success-bg: #e3fcec;
    --color-message-success-text: #1f9d55;
    --color-message-success-border: #51d88a;

    --color-message-warning-bg: #fffabc;
    --color-message-warning-text: #8d7b00;
    --color-message-warning-border: #d3b800;

    --color-message-error-bg: #fcebea;
    --color-message-error-text: #cc1f1a;
    --color-message-error-border: #ef5753;

    --color-message-info-bg: #eff8ff;
    --color-message-info-text: #2779bd;
    --color-message-info-border: #6cb2eb;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: var(--color-cakephp-red);
    border-color: var(--color-cakephp-red);
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    background: var(--color-main-bg);
}

.top-nav-links,
.side-nav,
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: var(--color-headings);
}

a {
    color: var(--color-links);
    transition: color 0.2s linear;
}

a:hover,
a:focus,
a:active {
    color: var(--color-links-active);
    transition: color 0.2s ease-out;
}

.side-nav a,
.top-nav-links a,
th a,
.actions a {
    color: var(--color-lightgray);
}

.side-nav a:hover,
.side-nav a:focus,
.actions a:hover,
.actions a:focus {
    color: var(--color-links-active);
}

/* Utility */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Main */
.content {
    padding: 2rem;
    background: var(--color-white);
    border-radius: 0.4rem;
    /* Thanks Stripe */
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
.content form {
    margin: 0;
}
.actions a {
    font-weight: bold;
    padding: 0 0.4rem;
}
.actions a:first-child {
    padding-left: 0;
}
th {
    white-space: nowrap;
}

/* Nav bar */
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 112rem;
    padding: 2rem;
    margin: 0 auto;
}
.top-nav-title a {
    font-size: 2.4rem;
    color: var(--color-cakephp-red);
}
.top-nav-title span {
    color: var(--color-cakephp-gray);
}
.top-nav-links a {
    margin: 0 0.5rem;
}
.top-nav-title a,
.top-nav-links a {
    font-weight: bold;
}
.side-nav-item {
    display: block;
    padding: 0.5rem 0;
}

/* View action */
.view.content .text {
    margin-top: 1.2rem;
}
.related {
    margin-top: 2rem;
}

/* Flash messages */
.message {
    padding: .5rem 1rem;
    background: var(--color-message-info-bg);
    color: var(--color-message-info-text);
    border-color: var(--color-message-info-border);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 1rem;
    cursor: pointer;
}
.message.hidden {
    display: none;
}
.message.success {
    background: var(--color-message-success-bg);
    color: var(--color-message-success-text);
    border-color: var(--color-message-success-border);
}
.message.warning {
    background: var(--color-message-warning-bg);
    color: var(--color-message-warning-text);
    border-color: var(--color-message-warning-border);
}
.message.error {
    background: var(--color-message-error-bg);
    color: var(--color-message-error-text);
    border-color: var(--color-message-error-border);
}

/* Forms */
.input.radio,
.input.checkbox,
.input.multicheckbox {
    margin-bottom: 2.0rem;
}
.input.radio input,
.input.checkbox input,
.input.multicheckbox input {
    margin: 0;
}
.input.radio label,
.input.checkbox label,
.input.multicheckbox label {
    margin: 0;
    display: flex;
    align-items: center;
}
.input.radio label > input,
.input.checkbox label > input,
.input.multicheckbox label > input {
    margin-right: 1.0rem;
}
input[type='color'] {
    max-width: 4rem;
    padding: 0.3rem .5rem 0.3rem;
}

/* Paginator */
.paginator {
    /* text-align: right; */
    padding: 15px;
}
.paginator p {
    margin-bottom: 0;
    text-align: center;
    font-size: 14px;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
    gap: 10px;
}
.pagination li {
    display: flex;
    margin: 0;
    text-align: center;
    width: 40px;
    height: 40px;
    background: #e7e7e7;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 0;
}
.pagination a {
    color: var(--color-cakephp-blue);
    display: inline-block;
    font-size: 22px;
    /* line-height: 3rem;
    min-width: 3rem; */
    padding: 0;
    position: relative;
    text-decoration: none;
    transition: background .3s,color .3s;
}
.pagination li.active a,
.pagination a:hover {
    text-decoration: underline;
}
.pagination .disabled a {
    cursor: not-allowed;
    color: var(--color-lightgray);
    text-decoration: none;
}
.first a,
.prev a,
.next a,
.last a {
    padding: 0 .75rem;
}
.disabled a:hover {
    background: initial;
    color: initial;
}
.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

/* Error in non debug mode */
.error-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
.table_form {
    /* max-width: 500px; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
    margin: 0 auto 0 0;
    border-radius: 16px;
}
.table_form h1 {
    font-size: 20px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
    margin-bottom: 16px;
}
.table_form .btn {
    width: auto;
    background-color: #e91e63;
    padding: 6px 16px;
    color: #fff;
    font-size: 18px;
    height: 40px;
}
.table_form .btn:hover {
    background-color: #e92063c7;
    color: #fff;
}
.table_form label {
    margin-bottom: 2px;
    font-size: 14px;
}
.table_form input, .table_form textarea, .table_form select, .table_form .select2{
    height: auto;
    background-color: #efefef;
    border-radius: 5px;
    padding: 12px 16px;
    border: none;
        font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.side-nav {
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
    border-radius: 10px;
}

.side-nav h4 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.side-nav-item {
    padding: 10px;
    text-decoration: none;
    background: #efefef80;
    color: #000 !important;
    font-size: 14px !IMPORTANT;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex !important;
    width: 100%;
    font-family: none;
    align-items: center;
    gap: 10px;
}
.side-nav-item:last-child{
    margin-bottom: 0;
}
.side-nav-item:hover{
    background-color: #e91e63;
    color: #fff !important;
}
.table_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    padding: 10px 16px;
}
.table_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    padding: 10px 16px;
}
.management_table {
    background-color: #fff;
    /* border: 1px solid #dad8d4; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 10px 0;
}
.themebtn {
    padding: 5px 12px;
    background-color: #e91e63;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
}
.table-responsive {
    padding: 15px;
}
.management_table .table {
    white-space: nowrap;
    margin-bottom: 0;
}
.management_table .thead-dark {
    color: #343a40;
    background-color: #efefef !important;
    border-color: #32383e;
}
.management_table table .thead-dark th {
    color: #32383e;
    background-color: #efefef;
    border-color: #efefef;
    font-size: 12px;
    /* border: 1px solid #32383e; */
    border-bottom: none !important;
}
.management_table table tr td {
    font-size: 12px;
}
/* .management_table table tr td a{
    color: #e91e63;
} */
table td, table th {
    font-size: 14px;
    padding: 10px 12px !important;
    border: 1px solid #e7e7e7;
    vertical-align: middle !important;
}
table{margin-bottom: 0;}
table th a{
    color: #32383e;
    text-decoration: none;
    font-size: 12px;
}
.bg-primary-light {
    background-color: #e7e7e7;
    color: #000;
    padding: 10px;
    border-radius: 5px;
}
.management_table a.bg-primary-light :hover{
    background-color: #e91e63;
    color: #fff;
}
.table_heading h1 {
    font-size: 22px;
    margin-bottom: 0;
    color: #32383e;
}
/* .bg-danger-light {
    background-color: #ffdede66;
    color: rgb(255, 94, 94);
    padding: 10px;
    border-radius: 5px;
} */
table .thead-dark th:last-child {
    width: 130px;
}
.themebtn:hover {
        background-color: #e92063c7;
    color: #fff;
}
a{
    text-decoration: none !important;
}
a:hover{
    color: #e91e63;
}
.comment_quote{padding: 15px;}
.comment_quote strong{
    font-size: 16px;
}
.management_table table {
    white-space: nowrap;
    margin-bottom: 0;
}
.upload-files-container {
    background-color: #efefef;
    width: 500px;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.drag-file-area {
    border: 2px dashed #e91e63;
    border-radius: 16px;
    margin: 10px 0 15px;
    padding: 10px 10px;
    width: 450px;
    text-align: center;
}
.drag-file-area h3 {
    font-size: 22px;
    margin: 15px 0;
}
.drag-file-area .upload-icon {
    font-size: 30px;
}
.drag-file-area form{
    margin-bottom: 0;
}
.drag-file-area label {
    font-size: 16px;
    display: block;
}
.drag-file-area input {
    opacity: 0;
}
.drag-file-area label .browse-files-text {
    color: #7b2cbf;
    font-weight: bolder;
    cursor: pointer;
}
.upload-files-container h1 {
    font-size: 22px;
    font-weight: 600;
}
.table_form .select2-container--default .select2-selection--single{
    background-color: transparent;
    border: none;
}
.table_form .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 50%;
    right: 16px;
    width: 20px;
    transform: translateY(-50%);
}
.table_form .select2-container .select2-selection--single .select2-selection__rendered{
    padding-left: 0;
}
.table_form input[type="file"] {
    background-color: #efefef;
    border: 2px dashed #ccc;
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.table_form input[type="file"]::file-selector-button {
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.table_form input[type="file"]::file-selector-button:hover {
    background-color: #e92063c7;
}
.table_form .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    top:-10px;
    padding: 0;
}
.table_form .select2-container--default .select2-selection--multiple{
    background-color: transparent;
    border: none !important;
}
.table_form .select2{
    min-height: 0 !important;
    margin-bottom: 0 !important;
}
.table_form .select2-container--default .select2-selection--multiple .select2-selection__clear{
    background-color: #e92063c7;
}
.table_form .select2-container .select2-search--inline .select2-search__field{
    margin: 0;
}
@media screen and (max-width: 640px) {
    /* Fix milligram not having a responsive column system */
    .row .column[class*='column-'] {
        flex: 0 0 100%;
        max-width: 100%
    }
    .top-nav {
        margin: 0 auto;
    }
    .side-nav {
        margin-bottom: 1rem;
    }
    .heading {
        margin-bottom: 1rem;
    }
    .side-nav-item {
        display: inline;
        margin: 0 1.5rem 0 0;
    }
    .asc:after {
        content: " \2192";
    }
    .desc:after {
        content: " \2190";
    }
}
